head .img{
    border: 2px solid rebeccapurple;
    border-radius: 300px;

}
body{
    background: url(./Image/bg2.jpg) no-repeat;
    background-size: cover;
    color: white;
}
nav div.logo{
    display: flex;
    width: 300px;
    gap: 20px;
}
nav div.logo .badge {
    background: rgb(126, 12, 57) ;
    width: 50px;
    text-align: center;
    color: white;
    border-radius: 50px;   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30pt;
    position: fixed;
    right: auto;
    left: auto;
    top: 0%;
    margin: auto;
    background: rgb(12, 6, 67);
    width: 80%;
    border-radius: 20px;
}
nav div.menu ul{
    display: flex;
    list-style: none;
    gap: 70px;
    font-size: 20pt;
    align-items: center; 
}
nav .menu ul a {
    color: rebeccapurple;
    text-decoration: none;
}
li#style_contact{
    padding: 10px;
    border-radius: 15px;
    background: rgb(126, 12, 57);
    color: rgb(212, 203, 203);
}
li#style_contact a{
    color: white;
}
div.nom h1{
    font-size: 35pt;
     color: rgb(126, 12, 57);
}
h6{
    font-size: 30pt;
    text-decoration: underline;
}
div.nom p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    text-align: justify;
}
div.container{
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.presentation{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    padding-top: 150px;
}
div.nom{
    width: 50%;
}
div.presentation img{
    height: 500px;
    width: 500px;
    border: 1px solid  rgb(126, 12, 57);
    border-radius: 250px;
    box-shadow: 4px 4px 0 0 gray ;
}
button{
    padding: 10px 20px;
    width:max-content;
    background: rgb(126, 12, 57);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15pt;
}
section.projet{
    padding-top: 100px;
}
section.projet h1{
    color:brown ;
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}
section.projet h3{
    text-align: center;
    font-size: 15pt;
    margin: 0%;
    padding: 0%;
    margin-bottom: 40px;
}
div.projet_container{
    display: flex;
    gap: 40px;
    justify-content: center;
}
div.projet_container div.card_projet{
    width: 400px;
    border: 1px solid brown;
    border-radius: 20px;
}
div.projet_container p{
    padding: 15px;
    margin-top: 0%;
    margin: 0%;
}

div.projet_container img{
 width: 100%;
 border-radius: 20px 20px 0 0;
}
div.projet_container div.button{
    display: flex;
    justify-content: center;
}
section.Competences{
    padding-top: 100px;
}
div.flA{
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
div.flA img{
    border-radius: 20px;
}
section.Competences h1{
   color:brown ;
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}
div.flA1{
    display: flex;
    border: 1px solid rgb(247, 0, 255);
    border-radius: 20px;
}
div.flA1 img{
    height: 300px;
    width: 300px;
}
div.flA2{
    display: flex;
    border: 1px solid red;
    border-radius: 20px;
}
div.flA2 img{
    height: 300px;
    width: 300px;
}
main.Parcours{
    padding-top: 100px;
      width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
}
main.Parcours h1{
    color:brown ;
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;
}
footer{
    font-size: 15pt;
    margin: auto;
     padding-top: 100px;
}

div.bas_page{
    padding-top: 100px;
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.bas_page h1{
    color:brown ;
    text-align: center;
    font-size: 30pt;
    text-decoration: underline;   
}
div.bp{
    display: flex;
    border: 1px solid brown;
    border-radius: 20px;
    gap: 200px;
    background: rgba(91, 14, 0, 0.085);
    width: fit-content;
    padding: 20px;
    margin: auto;
}
div.bp div{
    gap: 8px;
}
div.bp1 i{
    width: 20px;
    height: 20px;
    font-size: 40pt;
    text-align: center;
}
div.bp2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
div.bp2 div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 5px;   
}
div.bp2 input{
    width: 500px;
    height: 30px;
    border: 1px solid brown;
    border-radius: 5px;
    outline: none;
}
div.bp2 .btn_action{
    display: flex;
    flex-direction:row-reverse;
    justify-content: end;
}
div.Localisation{
    display: flex;
    justify-content: space-between;
    width:60%;
    margin: auto;
    margin-top: 100px;
    border: 0.5px solid rebeccapurple;
    border-radius: 20px;
    padding:80px
    
}
div.Localisation h2{
    text-decoration: underline;
    font-size: 29pt;
}
div.Localisation img{
    height: 300px;
    width: 600px;
    border-radius: 20px;
}


